*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav{
    height: 100px;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.nav a{
    text-decoration: none;
    color: black;
}

.text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    width: 1088px;
    height: 97px;
    border-radius: 9px;
    background-color: #f36944;
}

.text .p1{
    display: flex;
    align-items: center;
}

.text .p1 i{
    font-size: 50px;
}

.text .p1 span{
    color: white;
    margin-left: 20px;
}

.text button{
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 20px;
}